@model Quizzy.Models.Quiz

@{
    ViewBag.Title = "Редактировать тест";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Тест</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.ClientId)
        @Html.HiddenFor(model => model.AnswerText)
        @Html.HiddenFor(model => model.IsDeleted)
        @Html.HiddenFor(model => model.IsModified)
        @Html.HiddenFor(model => model.QuizVersion)
        @Html.HiddenFor(model => model.ParentQuizId)
        @Html.HiddenFor(model => model.QuizNumber)

        <div class="form-group">
            <div class="col-md-2">
                @Html.Label("Название теста")
                <!-- @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" }) -->
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                </div>
            </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.LabelFor(model => model.QuizNumber)
                </div>
                <div class="col-md-6">
                    @Html.Label(Model.QuizNumber)
                </div>
            </div>
        <hr />
        <div id="questionBlock" class="form-group">
            @{int i = 0;
            }
            @foreach (var item in Model.Questions)
            {

               <!-- <input type="hidden" name="Questions[@i].Id" value="@item.Id" /> -->

                @Html.Hidden("Questions[" + i + "].Id", item.Id)

                <div class="questionItem col-md-offset-2 col-md-10">
                    <h4>Вопрос № @(i + 1)</h4>
                    <div class="row">
                        <div class="col-md-9">
                            <dl class="dl-horizontal">
                                <dt>
                                    Текст вопроса
                                </dt>
                                <dd>
                                    <p>@item.QuestionText</p>
                                </dd>
                                <dt>
                                    Сложность вопроса
                                </dt>
                                <dd>
                                    @Html.Label(item.Difficulty.ToString())
                                </dd>
                                <dt>
                                    Ответы
                                </dt>
                                <dd>
                                    @for (int j = 0; j < item.Answers.Count; j++)
                                    {
                                        <div class="col-md-offset-2 col-md-10">
                                            @if (item.Answers[j].Answer != null)
                                            {
                                                if (item.Answers[j].RightAnswer == true)
                                                {
                                                <p><strong>*@item.Answers[j].Answer</strong></p>
                                                }
                                                else
                                                {
                                                    <p>@item.Answers[j].Answer</p>
                                                }
                                                @Html.Hidden("Questions[" + i + "].Answers[" + j + "].Id", item.Answers[j].Id)
                                            }
                                        </div>

                                    }
                                </dd>
                            </dl>
                        </div>
                        <div class="col-md-3">
                            @Html.ActionLink("Удалить вопрос", "DeleteQuestion", new { id = item.Id })
                            <br />
                            @Html.ActionLink("Редактировать вопрос", "EditQuestion", new { id = item.Id })

                        </div>
                    </div>
                </div>

                i++;
            }
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<div>
    @Html.ActionLink("Добавить вопрос", "AddQuestion", new { quizId = Model.Id })
</div>

<div>
    @Html.ActionLink("Вернуться", "Index")
</div>